*{
    margin:0;
    padding: 0;
}

body{
    min-height: 100vh;
    /* max-width: 1080px; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    height: 100vh;
    width: 70%;
    position: relative;

    background-color: rgb(188, 186, 175);
}

.one{
    background-color: rgb(179, 188, 175);
}



.img{
    width: 30%;
    min-width: 215px;
    height: 50%;

    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(imgs/t-shirt_check.jpg);

    background-color: white;

    border-radius: 5px;
    border: 1px solid black;
    transition: all .5s ease-in-out;
}

.colors-details{
    width: 30%;
    min-width: 270px;
    height: 35%;

    display: flex;
    flex-direction: column;
    position: relative;
}

.colors{
    width: 100%;
    min-width: 270px;
    height: 100%;
    margin-top: -55px;
    
    display: flex;
    align-items: center;
    justify-content: space-around;

    border-radius: 5px;
    border: 1px solid black;
    background-color: white;    
}

ul{
    width: 100%;
    height: 100%;
    padding: 19px 10px;

    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

ul li{
    width: 33%;
    height: 33%;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    border-radius: 5px;
    border: 1px solid black;
}

#red{
    background-color: #f9b9ba;
}

#white{
    background-color: white;
}

#yellow{
    background-color: #f8f3b1;
}

#green{
    background-color: #c1f9b2;
}

.details{
    width: 100%;
    height: 30%;
    bottom: -15%;
    
    text-align: center;
    display: flex;
    justify-content: space-around;

    position:absolute;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
}

.price{
    font-size: 20px;

    text-align: center;
    display: flex;
    align-items: center;
}

@media(max-width:700px){


    .section{
        min-width: 350px;
        width: 100%;

        flex-direction: column;
    }

    .img{
        width: 270px;
    }

    .colors{
        margin-top: -10px;
        height: 250px;
    }

    .colors ul li{
        width: 82px;
        height: 80px;
    }

    .details{
        /* padding :5px 0; */
        height: 59px;
        margin-bottom: 15px;

        position: absolute;
    }


}













